body{
  background-color: aliceblue;
}
.container{
    
    font-family: arial;
}
.header{
    background-color: white;
    
    text-align: center;
    height: 200px;
}
h1{
    margin: 0px;
    padding-top: 40px;
}
.header p{
    padding-bottom: 20px;
    margin: 0;
}
.menu{
    width: 100%;
    background:black;
    color: white;
    font-size: 15x;
    display: flex;
  
    align-items: center;
    justify-content: center;

}
.menu ul{
    width: 100%;
    display: inline-block;
    padding: 2px;
    margin: 4px;
}
li{
 padding: 2px;
 list-style: none;
 display: inline;
}
.li1{
    float: right;
}
.box img{
    height: 200px;
    width: 100%;
}
.content{
    background-color: white;
    margin: 5px;
}